@tailwind base;
@tailwind components;
@tailwind utilities;


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 14px;
    border: 1px solid black;
}